$main-color: #3f3f3f;
$background-color: lightgray;
$padding-left-sq: 3%;
$padding-right-sq: 3%;
$margin-left-sq: 3%;
$margin-right-sq: 3%;

.menuitem {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
    
    &:hover {
        background-color: $background-color;
		color: black;
    }
	float: right;
	list-style: none;
	text-shadow: 0 2px 1px #090909;
	padding:2%;
}
.textField{
	min-width :75%;
	max-width :75%;
	min-height :20px;
}
.textArea {
	min-height: 100px;
}
body  {
    background-image: url("img/background2.jpg");
	background-repeat: no-repeat;
	 background-position: center; 
	 background-attachment: fixed;
    background-color: #cccccc;
}

div
{
	color: white;
}

img  {
	width: 450px;
	height:110px;
	border-radius: 10%;
	opacity: 1;
	
}
nav{
	background-color: black;
	border: solid;
	opacity: 0.5;	
}

nav img {
	opacity: 2;
}
div .width36
{
	min-width: 36.6%;
	
}
div .width25
{
	min-width: 25%;
}
div .width50
{
	min-width: 50%;
}
div .startitem {
	
	min-height: 300px;
	background-color: black;
	opacity: 0.5;
	float: left;
	display: inline;
	padding-top: 40px;
	padding-bottom: 40px;
    padding-left: $padding-left-sq;
	padding-right: $padding-right-sq;
	margin-top: 30px;
	margin-left: $margin-left-sq;
	margin-right: $margin-right-sq;
	margin-bottom: 30px;
	
}

div .eventListItem{
	background-color: black;
	opacity: 1;
	min-width: 50px;
	
}
div .startitem a{
	min-width: 36.6%;
	height: 320px;
	background-color:black;
	text-align: center;
	text-decoration: none;
	display:table-cell;
	vertical-align: middle;
	color: white;
	font-size: 50px;
	
	&:hover {
        opacity: 0.7;
    }

}
div .eventListItem
{
	background-color: rgba(255, 102, 0, 0.15);
	padding:10px;
	margin:5%;
}
div .eventList a{
	width: 49px;
	height: 32px;
	background-color:rgba(255, 102, 0, 0.0);
	text-align: center;
	text-decoration: none;
	display:table-cell;
	vertical-align: middle;
	color: white;
	font-size: 25px;
	    
	&:hover {
        opacity: 0.9;
    }
} 
div.parent {
	display:block;
}

.pageTitle {
	color: white;
	
	
	font-size: 40px;
	text-align: center;
}

.logfromula {
	color:green;
	background-color: yellow;
	opacity: 1.0;
	align:center;
	font-size: 50px;
}

.all {
	background: rgba(0, 0, 0, 0.5);
	margin-bottom:30px;
	margin-top: 30px;
	padding-bottom:40px;
	padding-top: 40px;
	padding-left: 100px;
	padding-right: 100px;
	margin-left: 150px;
	margin-right: 150px;
	width: 200 px;
}

.logitem {
	font-size:30px;
}
.registrationItem {
	font-size:30px;
}
td{
	font-size: 20px;
	padding: 10px;
	padding-left:20px;
}

.invalidRegistration {
	background-color: #ff9e5f;
}

.validRegistration {
	background-color: #d7ff83;
}

.ui-datepicker td a
{    
  font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color: pink;
}
.dataPage{
		background: rgba(0, 0, 0, 0.5);
	margin-bottom:30px;
	margin-top: 30px;
	padding-bottom:40px;
	padding-top: 40px;
	padding-left: 100px;
	padding-right: 100px;
}
div .dataArray  {
	width: 100%;
}
div .dataArray tbody :first-child {
	font-size: 20px;
}
div .dataArray tbody tr th {
	padding: 2px;
}
.button{
	padding-left: 10px;
	padding-right: 10px;
}
.filtr{
	font-size: 20px;
}
.login, .register{
	padding-left: 10%;
	padding-right: 10%;
}
.eventType{
	min-width: 100px;
}